*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  padding-top: 20px;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .logo a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Uses the default text color, or you can specify a color */
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
}

.continue-shopping {
  text-decoration: none;
  font-size: 16px;
  color: #37393a;
}

.continue-shopping:hover {
  text-decoration: none;
  color:black;
}

.cart {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

.cart h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.item-info {
  flex-grow: 1;
  padding-left: 20px;
}

.item-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity input{
  width: 50px;
  padding: 5px;
  margin-left: 10px;
}

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.remove-btn:hover {
  background-color: #ff3333;
}

.cart-summary {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.cart-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

.checkout-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}